p {
            color: rgb(	240,248,255);
        }  
        
h1 {
            color: rgb(	240,248,255);}

        body {
            background-color: black;
                    border-spacing: 50px;
                   
                   
        }
#thebottons { width:800px; 
            height: 35px;
            
            Margin-left: auto;
            Margin-right: auto;
           
}





#heading { 
            background-color: rgb(47,79,79);
            
            
            
                        width: 800px;
                        height: 1000px;
                        Margin-left: auto;
                        Margin-right: auto;
                        margin-top: 50px;
              background-img: url(../"https://www.bing.com/images/blob?bcid=TsuuOI.w8csDWc5cC8h3WI434fL3.....30");
            padding: 50px;
            margin: 100px;
  
            }


                        
            
         #header{
                      width: 620px;
                        height: 1000px;
                        Margin-left: auto;
                        Margin-right: auto;
                        
                     
                                    }
#writing { background-color: rgb(47,79,79);
            width: 800px;
            height: 1000px; 
           Margin-left: auto;
            Margin-right: auto;
            left: 500px;
}

#thunder { Margin-left: auto;
            Margin-right: auto;
}
#content {Margin-left: auto;
            Margin-right: auto;}

#table {background-color: rgb(100,48,0);
            width: 800px;
            height: 40px;
            margin-top: 5px;
}


