p {
            color: rgb(	240,248,255);
        }  
        
h1 {
            color: rgb(	240,248,255);}

        body {
            background-color: rgb(25, 25, 112);
                   
        }
#home {float:right;
            margin-top: 6px;
}
