p {
            color: black;
            margin-inline-start: 3px;
        }  
        
h1 {
            color: black;}

        body {
            background-color: black;
                    border-spacing: 50px;
                   
                   
        }
#thebottons { width:800px; 
            height: 35px;
            
            Margin-left: auto;
            Margin-right: auto;
            text-align: center ;
           
}

                                   
         #header{
                      width: 620px;
                        height: 1000px;
                        Margin-left: auto;
                        Margin-right: auto;
            }


#writing { background-color: rgb(47,79,79);
            width: 800px;
            height: 1000px; 
           Margin-left: auto;
            Margin-right: auto;
            left: 500px;
}

#thunder { Margin-left: auto;
            Margin-right: auto;
}
#content {Margin-left: auto;
            Margin-right: auto;}

#table {background-color: rgb(100,48,0);
            width: 800px;
            height: 40px;
            margin-bottom: 6px;
}
#head {background-color: white;
            width: 780px;
            height: 1000px;
            right: 7px;
}

            


